.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	height: 100%;
}

/* Sim UI CSS */
.error {
	color: red;
	font-size: 14px;
}

/* Maps CSS */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 100%;
}

/* Makes the sample page fill the window. */
html,
body {
	margin: 0;
	height: 100%;
	padding: 0;
}
